# Root Binary
/digwire
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.out
*.test

# Arch Linux makepkg artifacts
*.pkg.tar.*
/pkg/
/src/
/*-src/

# OS & IDE
.DS_Store
.idea/
.vscode/
*.swp
*~
